.bar {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 95%;
	min-height: 95vh;
	height: auto;
	background: var(--palette-gray-50, #F9FAFB);
	/* padding: 32px 32px 16px 32px; */
	font-family: 'Gotham Regular';
	border-radius: 0px 15px 15px 0px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.topBlock {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-bottom: 1px solid #E2E8F0;
}

.equipmentBlock {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-bottom: 1px solid #E2E8F0;
}

.accountBlock {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.ownerMData {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 24px;
}

.avatar{
	display: flex;
	margin-right: 12px
}

.name {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.avatar img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.title {
	display: flex;
	padding: 16px 16px 12px 0px;
}

.user {
	color: var(--palette-slate-900, #0F172A);
	font-family: 'Gotham Regular';
	font-size: 16px;
	font-style: normal;
	font-weight: 510;
	line-height: 24px; 
	letter-spacing: 0.1px;
}

.role {
	color: var(--palette-slate-600, #475569);
	font-family: 'SF Regular';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 133.333% */
	letter-spacing: 0.4px;
}

.images {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.images a{
	margin-bottom: 20px;
}

.chevrones {
	width: 15%;
	z-index: 100;
	cursor: pointer;
}