.marginWrapper {
	margin-bottom: 40px;
}

.container {
	padding: 35px 40px 0px 20px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
  }

.topRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.buttons {
	display: flex;
	flex-direction: column;
}

.button {
	margin-bottom: 12px;
}

.selecterBlock {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 30px;
}

.selecterBlock span {
	color: #285471;
	font-family: 'Gotham Regular';
	font-size: 14px;
}