.marginWrapper {
	margin-bottom: 24px;
}

.container {
	padding: 25px 25px 40px 0px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.backgroundContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/wallpaper2_1.png'), lightgray -0.031px -1550px / 100.004% 338.75% no-repeat;
    background-size: cover;
    opacity: 0.5;
    z-index: -1; 
}

.topRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.buttons {
	display: flex;
	flex-direction: column;
}

.button {
	margin-bottom: 12px;
}

.selecterBlock {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 30px;
}

.selecterBlock span {
	color: #285471;
	font-family: 'Gotham Regular';
	font-size: 14px;
}