.input {
    border-radius: 7px;
    border: 1px solid #C4C4C4;
    padding: 9px;
    text-align: center; 
    outline: none; 
    box-shadow: none; 
    font-size: var(--textSize);
    width: var(--width); 
    height: var(--height);
  }
  
  .input:focus, .input:active {
    border-color: #C4C4C4;
    box-shadow: none;
  }

  .input.error {
    color: #FF7070;
    border-color: #FF7070;
}