.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    color: #285471;
    font-family: 'Gotham Medium';
    margin-bottom: 15px;
}

.captchaBlock {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.reloadButton {
    cursor: pointer;
}

.reloadBlock {
    padding: 0px 0px 0px 5px;
}

.error {
    padding:  10px 0px 0px 0px;
    color: #FF7070;
    font-family: 'Gotham Medium';
    margin-bottom: 15px;
}

.correct {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #285471;
    font-family: 'Gotham Medium';
}

.validated {
    margin-right: 10px;
}