.input {
    border-radius: 7px;
    border: 1px solid #C4C4C4;
    padding: 0px 0px 0px 9px;
    outline: none; 
    box-shadow: none; 
    font-size: 20px;
    width: var(--width); 
    height: var(--height);
    background-color: var(--bgcolor); ;
  }
  
  .input:focus, .input:active {
    border-color: #C4C4C4;
    box-shadow: none;
  }