.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    min-height: 70vh;
    background-color: #efefef;
    padding-top: 20px;
}

.titleRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.title {
    color: #285471;
    font-size: 40px;
    font-family: 'Gotham Medium';
}