.textarea {
    width: 95%;
    border-radius: 10px;
    border: 1px solid #BDC0B6;
    padding: 5px;
    min-height: 32px;
    resize: none;
}

.textarea:focus {
    background-color: #eff6fc;
    outline: none;
}