.component {
	padding: 25px 25px 40px 0px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.marginWrapperTop {
	margin-bottom: 33px;
}

.marginWrapper {
	margin-bottom: 30px;
	padding-left: 57px;
}

.logoBlock {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.avatar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 130px;
	height: 130px;
}

.avatar img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 130px;
	padding: 0px 0px 0px 15px;
}

.inputWrapper {
	width: 60%;
	/* margin-bottom: 24px; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 11px;
}

.spanLabel {
	color: #141414;
	font-family: 'Gotham Regular';
	font-size: 16px;
	margin-bottom: 8px;
	padding-left: 11px;
}

.linkButtonContainer {
    display: inline-flex;
}

.linkButton {
	color: #285471;
	font-family: 'Gotham Medium';
	text-decoration: underline;
	cursor: pointer;
	font-size: 12px;
}

.linkButton:hover {
	color: #619fb4;
}

.table {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 80%;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.cell {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 50%;
	align-items: flex-start;
}

.mark {
	margin-left: 15px;
	cursor: pointer;
}

.editorModal{
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: white;
	border-radius: 20px;
	top: 50%;
	left: 50%;
	padding: 15px;
	transform: translate(-50%, -50%);
	align-items: center;
	z-index: 100;
	max-height: 80vh;
  	overflow-y: auto;
  	font-family: 'Gotham Regular';
    border: 2px solid #BDC0B6;
	width: 30%;
	background-color: white;
	overflow-x: hidden;
}

.bottomButtons {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	text-align: end;
	width: 80%;
	padding-left: 68px;
}

.leftBlock {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-right: 200px;
}

.modalWrapper{
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: white;
	border-radius: 20px;
	top: 50%;
	left: 50%;
	padding: 0px;
	transform: translate(-50%, -50%);
	align-items: center;
	z-index: 100;
	max-height: 80vh;
  	overflow-y: auto;
  	font-family: 'Gotham Regular';
	border: 1px solid #C4C4C4;
	width: 442px;
	background-color: white;
	overflow-x: hidden;
}

.whiteBlock {
	display: flex;
	flex-direction: column;
	width: 93%;
	padding: 20px;
	background-color: white;
	border: none;
	border-radius: 20px 20px 0px 0px;
}

.closeBtnRow{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: end;
}

.formBlock {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.greyBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	width: 100%;
	background-color: #D9D9D9;
	padding: 20px 0px 10px 0px;
}

.buttonWrapper {
	margin-bottom: 10px;
}

.title {
	color: #285471;
	text-align: center;
	font-family: 'Gotham Bold';
	font-size: 27px;
	margin-bottom: 32px;
}

.label {
	color: #285471;
	font-family: 'Gotham Medium';
	font-size: 16px;
}