@font-face {
    font-family: "Gotham Regular";
    src: url('../public/fonts/Gotham_pro/gothampro.ttf') format(truetype);
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../public/fonts/Gotham_pro/gothampro_medium.ttf') format(truetype);
}

@font-face {
    font-family: 'Gotham Light';
    src: url('../public/fonts/Gotham_pro/gothampro_light.ttf') format(truetype);
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../public/fonts/Gotham_pro/gothampro_bold.ttf') format(truetype);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gotham Regular';
    cursor: default;
    background-color: #efefef;
}

button {
    cursor: pointer;
}

/* Стилизация всего ползунка */
input[type='range'] {
    -webkit-appearance: none;
    width: 125px;
    background: transparent;
}

/* Стилизация шкалы */
input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #D9D9D9;
    border: none;
    border-radius: 5px;
}

input[type='range']::-moz-range-track {
    width: 100%;
    height: 8px;
    background: #D9D9D9;
    border: none;
    border-radius: 5px;
}

/* Стилизация бегунка */
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #285471;
    margin-top: -2px; /* Обновленный отступ для центрирования */
    cursor: pointer;
}

input[type='range']::-moz-range-thumb {
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #285471;
    cursor: pointer;
}

.react-flow__handle {
    opacity: 0;
  }