.selectPoint {
	display: flex;
	flex-direction: row;
	align-items: center;

	cursor: pointer;
	justify-content: center;
}

.selectPointSelected {
	display: flex;
	flex-direction: row;
	align-items: center;

	cursor: pointer;
	border-radius: 10px;
	background-color: #DBEAFE
}
